:root {
  --blue: #007bc1;
  --darkBlue: #004a75;
  --orange: #ff8000;
  --darkOrange: #cc6600;
  --smokeGrey: #e5e5e5;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.hero {
  background-image: url("/assets/work-desk__dustin-lee.jpg");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background: rgba(0, 74, 117, 0.5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
  padding-bottom: 132px;
}

.hero_logo img {
  width: 48px;
  margin: 10px 20px;
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  z-index: 10;
}

.hero_text h1 {
  font-weight: 400;
  margin-bottom: 0;
  color: #fff;
}

.hero_text h2 {
  font-weight: 600;
  margin: 5px 0;
  color: #fff;
}

.hero_text h3 {
  font-weight: 300;
  margin: 5px 0;
  line-height: 26px;
  color: #fff;
}

.hero_button {
  padding: 15px 10px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 20px;
  width: 185px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 17px;
  border-radius: 5px;
}

.hero_button:hover {
  color: var(--darkBlue);
  background-color: #fff;
}

.highlights {
  background-color: var(--smokeGrey);
  padding: 60px 20px;
}

.highlights-title {
  text-align: center;
}

.highlights-title h1 {
  font-weight: 400;
}

.highlights-title p {
  width: 590px;
  margin-left: auto;
  margin-right: auto;
}

.highlights-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-panel {
  border: 1px solid #b9b9b9;
  padding: 20px;
  width: 361px;
  margin: 15px;
}

.panel-title {
  display: flex;
  justify-content: space-between;
}

.panel-title h3 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.fal,
.fad,
.fas,
.far {
  padding-top: 15px;
  color: #b9b9b9;
}

.panel-desc p {
  font-size: 14px;
  line-height: 20px;
}

.footer {
  background-color: var(--darkBlue);
  padding: 40px;
  display: flex;
  justify-content: center;
}

.footer p {
  color: white;
}
