:root {
  --blue: #007bc1;
  --darkBlue: #004a75;
  --orange: #ff8000;
  --darkOrange: #cc6600;
  --smokeGrey: #e5e5e5;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.notif {
  background-color: var(--smokeGrey);
  padding: 15px;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 64px;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

.hide {
  height: 0;
  padding: 0;
}

.notif_desc {
  font-size: 12px;
  width: 430px;
  line-height: 15px;
  text-align: left;
  font-weight: 400;
}

.notif_desc a {
  text-decoration: none;
  color: var(--blue);
}

.notif_btn {
  background-color: var(--blue);
  padding: 15px 14px;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  height: 8px;
  font-size: 12px;
  margin-top: 10px;
}

.hero {
  background-image: url("/assets/work-desk__dustin-lee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  background: rgba(0, 74, 117, 0.5);
  height: 100%;
  width: 100%;
  padding-bottom: 132px;
  padding-top: 91px;
}

.noNotif {
  padding-top: 0px;
  transition: all 0.4s ease-in-out;
}

.hero_logo img {
  width: 48px;
  margin: 10px 20px;
}

.hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  z-index: 10;
}

.hero_text h1 {
  font-weight: 400;
  margin-bottom: 0;
  color: #fff;
}

.hero_text h2 {
  font-weight: 600;
  margin: 5px auto;
  color: #fff;
}

.hero_text h3 {
  font-weight: 300;
  margin: 5px auto;
  line-height: 26px;
  color: #fff;
}

.hero_button {
  padding: 15px 10px;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  margin-top: 20px;
  width: 185px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-size: 17px;
  border-radius: 5px;
}

.hero_button:hover {
  color: var(--darkBlue);
  background-color: #fff;
}

.highlights {
  background-color: var(--smokeGrey);
  padding: 60px 20px;
}

.highlights-title {
  text-align: center;
}

.highlights-title h1 {
  font-weight: 400;
}

.highlights-title p {
  width: 590px;
  margin-left: auto;
  margin-right: auto;
}

.highlights-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.content-panel {
  border: 1px solid #b9b9b9;
  padding: 20px;
  width: 361px;
  margin: 15px;
}

.panel-title {
  display: flex;
  justify-content: space-between;
}

.panel-title h3 {
  font-weight: 400;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 7px;
}

.fal,
.fad,
.fas,
.far {
  padding-top: 15px;
  color: #b9b9b9;
}

.panel-desc p {
  font-size: 14px;
  line-height: 20px;
}

.footer {
  background-color: var(--darkBlue);
  padding: 40px;
  display: flex;
  justify-content: center;
}

.footer p {
  color: white;
}

@media screen and (max-width: 600px) {
  .notif {
    flex-direction: column;
  }

  .notif_desc {
    width: 314px;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .notif_btn {
    background-color: var(--blue);
    padding: 10px 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    height: 8px;
    font-size: 12px;
    margin-top: 4px;
    width: 38px;
  }

  .hero_text h2 {
    width: 323px;
  }

  .hero_text h3 {
    width: 254px;
  }

  .highlights-title p {
    width: 329px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    text-align: center;
  }
}

.newsletter {
  background-color: rgba(0, 123, 193, 0.85);
  width: 588px;
  padding: 0 20px;
  color: white;
  position: absolute;
  z-index: 50;
  left: 0;
  bottom: -862px;
  height: 0;

  overflow: hidden;
  transition: all 0.4s ease-in-out;
}

.showPanel {
  height: 222px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.closePanel {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.newsletter_close {
  display: flex;
  justify-content: end;
}

.newsletter_title {
  margin-top: 3px;
}

.newsletter_desc {
  line-height: 24px;
}

.newsletter_content {
  width: 570px;
}

.newsletter_email {
  height: 23px;
  width: 450px;
}

.newsletter_btn {
  text-decoration: none;
  color: white;
  background-color: var(--orange);
  padding: 5px 7px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 500;
}

#close_btn {
  text-decoration: none;
  color: white;
}

::-webkit-input-placeholder {
  color: grey;
  font-weight: 500;
  font-size: 14px;
  padding-left: 10px;
}

::-moz-placeholder {
  padding-left: 10px;
  color: grey;
  font-weight: 500;
  font-size: 14px;
}
